<p>Thank you for sponsoring <%= @orphan %>.</p>

<p>Your monthly contribution will help tremendously.</p>

<p>Log in regularly by <a href="https://app.shelteroflove.org/orphans/<%= @orphan.id %>">clicking this link</a> to see updates for <%= @orphan %>.</p>

<p>You can make changes to your sponsorship by <a href="https://app.shelteroflove.org/users/edit">clicking this link</a> or logging in with you email address and password and going to “My Account"

